header{
   height: 100vh;
   background: url('../../../public/image/basseyn.png');
   background-position:top;
   background-size: cover;
   background-repeat: no-repeat;
}
.headerContainer{
  width: 100%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  height: 12vh;
  background-color: #00979c;
  color: white;
  position: fixed;
  z-index: 1;
  box-shadow: -1px 23px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.navbar h1 {
  width: 20%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 20px;
  cursor: pointer;
}
.navbar .Link,.navbar a {
  text-decoration: none;
  color:#fff;
  font-size: 20px;
}
.nav_ul {
  width: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
  list-style: none;
}
.nav_li {
  font-style: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 15px;
  cursor: pointer;
}
.span_li {
  border-radius: 3px;
  padding: 0.5rem;
  transition: 0.2s ease;
}
.span_li:hover {
  background-color: #34a3a7;
}
.navbar_media {
  width: 30%;
  display: flex;
  justify-content:end;
  align-items: center;
  padding: 0 15px 0 0;
}

.header_img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 15px;
}
.header_img1 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 7px 2px 0 2px;
}
.language {
  width: 29px;
  height: 29px;
  color: #00979c;
  background-color: white;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 5px;
  margin-right:40px;
}

.bm-burger-bars {
  background: #fff;
}
.bm-burger-button {
  display: none;
  position: fixed;
  width: 30px;
  height: 25px;
  right: 15px;
  top: 23px;
}
.bm-menu {
  background: #00979c;
  padding: 2rem;
  font-size: 25px;
}
.bm-item {
  display: inline-block;
  text-decoration: none;
  color:#fff;
  transition: color 0.2s;
  cursor: pointer;
}
.menu-ul{
  list-style: none;
  margin:50px 0 100px 0;
}
.menu_li{
  border:none;
  background:#f5f5f5;
  border-radius:10px;
  padding: 1rem;
  margin:20px 0;
  text-align: center;
  font-size: 18px;
  transition: 0.3s ease;
}
.menu_li:hover{
  background:#e6fdfd;
}
.menu-Link{
  text-decoration: none;
  color:#00979c;
}
.menu-btn{
  background:#f5f5f5;
  color:#00979c;
  width: 100%;
  border-radius:10px;
  padding: 1rem 0 ;
  margin:10px 0;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}
.menu-btn p, .menu-btn i{
  width: 3rem;
  font-size: 18px;
}
.menu-btn:hover{
  background:#139D4B;
  color:#fff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross {
  display: none;
  background: #fff;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


@media (max-width: 1260px){ 
  header{ 
    background: url('../../../public/image/basseyn.png');
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
 }
  .nav_ul {
    display: none !important;
  }
  .navbar_media{
    width: 50%;
  }
  .navbar h1 {
    width: 50%;
  }
  .navbar_media .phone_number {
    display: none;
  }
  .bm-burger-button {
    display: block;
    top: 19px; 
  }
}
@media (max-width: 950px){
  header{
    height: 70vh;
    width: 100%;
    background: url('../../../public/image/basseyn.png');
    background-position:top;
    background-size:100% 102%;
    background-repeat: no-repeat;
 }
}

@media (max-width: 550px){
  header{
    height: 60vh;
    width: 100%;
    background: url('../../../public/image/basseyn.png');
    background-position:top;
    background-size:100% 102%;
    background-repeat: no-repeat;
 }
}
@media (max-width: 450px){
  header{
    height: 50vh;
    width: 100%;
    background: url('../../../public/image/basseyn.png');
    background-position:top;
    background-size:100% 102%;
    background-repeat: no-repeat;
 }
 .navbar_media{
  width: 40%;
}
.navbar h1 {
  width: 60%;
  font-size: 14px !important;
}
 .header_img {
  width: 20px;
  height: 20px;
}
.header_img1 {
  width: 35px;
  height: 35px;
}
.language {
  width: 19px;
  height: 19px;
  font-size: 10px;
}
.bm-burger-button {
  width: 20px;
  height: 15px;
  right:18px;
  top: 19px;
}
.bm-menu {
    width: 90%;
    font-size:18px;
    text-align: center;
}
.menu-ul, .menu-btn{
  width: 90%;
}
.menu-btn p, .menu-btn i, .menu_li {
  font-size: 16px;
}
}
@media (max-width: 390px){
  .navbar_media{
    width: 50%;
  }
  .navbar h1 {
    width: 50%;
  }
}