.mainContainer{
    width: 100%;
}
.Category_content{
    width: 100%;
}

.Category_title{
    background-color: #009398;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Category_title h1{
    color: #fff;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.Product_content{
    width: 100%;
    display: flex; /* grid */
    justify-content:space-around; 
    align-items: center;
    flex-wrap: wrap;  
    padding: 5rem 0rem;
}
.product{
    width: 300px;
    border: none;
    border-radius: 0 35px 35px 35px;
    padding: 0 0.5rem 1rem 0rem;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    margin:15px 10px;
}

.product_btn{
    width: 60%;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    border-radius: 0 0 12px 0;
    font-size: 18px;
    padding: 1rem 0.2rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
.btnNone{
    width: 60%;
    height: 35px;
    opacity:0;
}
.btn_discount{
    background-color: #FFE500;
}
.btn_not_sold{
    background-color:red;
}
.btn_recomend{
    background-color:#26B145;
}


.product_img{
    margin: 20px 0 0 0;
    
    height: 200px;
    padding: 10px;
}
.mainImg{
    width: 100%;
    height:100%;
   object-fit: cover;
}
.product_value{
    display: flex;
    align-items: center;
}
.p_value{
    width: 50%;
    padding-left: 1.5rem;
}
.p_value p{
    font-size: 16px;
}
.p_value .del{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color:#686868;
}
.line{
    width: 100%;
    height: 2px;
    background:red;
    position: absolute;
    top:30%;
    left:0;
    transform: rotate(15deg);
}
.p_btn{
    width: 50%;
    text-align: center;
}
.order_btn{
    width: 120px;
    height: 35px;
    border:none;
    background-color: #FFE600;
    border-radius:0 12px 0 12px;
    font-size: 15px;
    text-align: center;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0, 0.4);
    transition: 0.3s; 
    cursor: pointer;
}
.btn_buyurtma:hover{
   background-color: #d6d607 ;
}