.modalContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.modal_content{
    /* border:2px solid red; */
    width: 50%;
    height: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(0,0,0,0.15 ) 0px 5px 15px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}
.m_cloce{
    width: 100%;
    text-align: right;
}
.close_icon{
    margin:0 10px;
    cursor:pointer;
    opacity: 0.5;
    color:gray;
}
.close_icon:hover{  
    opacity:1
}

.modal_form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap:wrap;
}
.modal_form_img{
    width:40%;
    height: 75%;
    padding: 3rem 1rem;
    border-radius: 0 30px 30px 30px;
    box-shadow: 1px 2px 9px 3px rgba(34, 60, 80, 0.2);
    background-color: #ffff;
    text-align: center;
}
.modal_form_img img{
    width: 100%;
    height: 100%;
}
.modal_form_img p{
    font-size: 19px;
    font-weight: bold;
}
.modal_form_value{
    width: 60%;
    height: 75%;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;     
}

.input_text{
   width: 60%;
   height: 40px;
   margin: 10px 0;
   border-radius: 10px;
   font-size: 17px;
   border: 1px solid #ccc;
   outline: none;
   padding: 0.5rem 1rem;
}
.form_order_btn{
    width:60%;
    border: none;
    background-color: #FFE600;
    color: #000;
    font-size: 15px;
    margin: 10px 0;
    box-shadow: 0px 3px 3px 1px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    font-weight: 500;
    padding:0.7rem 1rem;
    cursor: pointer;
    }
.form_order_btn:hover{
    background-color: #eed816;
}

@media (max-width: 1260px){
    .modal_content{
        width: 60%;
    }
    .modal_form_img{
        width: 50%;
    }
    .modal_form_value{
        width: 50%;
    }
    .input_text {
        width: 80%;
        font-size:16px;
    }
}
@media (max-width: 1000px){
    .modal_content{
        width: 70%;
    }
}
@media (max-width: 800px){
    .modal_content{
        width: 80%;
    }
}
@media (max-width: 650px){
    .modal_content{
        width: 90%;
    }
}
@media (max-width: 600px){
    .modal_content {
        height: 80%;
    }
    .modal_form_img {
        width: 70%;
        height:45%;
        margin:0 10px;
        padding: 1rem;
    }
    .modal_form_img img {
        width: 80%;
        height: 90%;
        padding: 1rem;
    }
    .modal_form_value {
        width: 70%;
        height: 55%;
    }
    .input_text {
        margin: 5px 0;
    }
}
@media (max-width: 450px){
    .modal_form_img {
        width: 95%;
    }
    .modal_form_value {
        width: 95%;
    }
}
