.footer_container {
  width: 100%;
  background-color: #009398;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
.footer_form{
  width: 30%;
  text-align: center;
  padding: 1.5rem 0.5rem;
  margin: 10px 0;
}
.footer_form h1 {
  font-size: 24px;
  margin: 10px 0;
  color:#fff;
}
.footer_input {
  width: 95%;
  height: 45px;
  margin: 10px 0;
  border: 1px solid #c0c0c0;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 0.4rem 0.8rem;
}
.footer_input:hover{
  border:1px solid #000;
}
.footer_input::-webkit-input-placeholder {
  font-size: 18px;
  color:#919191;
}
.footer_input::-webkit-input {
  font-size: 18px;
}
.footer_btn {
  width: 70%;
  border: none;
  margin:15px 0;
  background-color: #ffe600;
  font-size: 18px;
  padding: 0.8rem 1rem;
  color: black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;;
}
.footer_btn:hover{
  background-color:#d3be01
}

.footer_container_2 {
  width: 30%;
  padding: 0.5rem;
}
.working, .working_days, .footer_links{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 10px 0;
}
.working i, .working p{
    font-size: 28px;
    color:#fff;
    margin: 0 15px;
}
.working_days p{
  font-size: 22px;
  color:#fff;
  margin: 10px 15px;
}
 .footerImgIcon1 {
  width: 50px;
  margin: 0 10px;
}
.footerImgIcon2 {
  width: 35px;
  height: 40px;
  margin: -4px 10px 0 10px;
}
.footerImgIcon3 {
  width: 62px;
  height: 60px;
  margin: 4px 10px 0 5px; 
 }

.footer_container_3{
  width: 30%;
  padding: 0.5rem;
}
.footer_adress {
  width: 100%;
  text-align: center;
}
.footer_adress p{
  font-size: 20px;
  color:#fff;
  margin: 15px 0;
}
@media (max-width: 750px){
  .footer_form {
    width: 80%;
  }
  .footer_container_2{
    width: 40%;
  }
  .footer_container_3{
    width: 40%;
  }
}
@media (max-width: 600px){
  .footer_form {
    width: 80%;
  }
  .footer_container_2{
    width: 80%;
  }
  .footer_container_3{
    width: 80%;
  }
}
@media (max-width: 390px){
  .footer_form {
    width: 100%;
  }
  .footer_container_2{
    width: 100%;
  }
  .footer_container_3{
    width: 100%;
  }
  .working i, .working p{
    font-size: 26px;
}
.working_days p, .footer_adress p{
  font-size: 18px;
  line-height: 30px;
}
}