.modalWrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
 
.modal_contents{
    width: 40%;
    height: 65%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(0,0,0,0.35 ) 0px 5px 15px;
}
.modal_contents_header{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
}
.navbarModal{
    display: flex;
    float: right;
}
.Consultation_title{
    color: #747474;
}
.form{
    margin-top: 30px;
}
.form__input{
 width: 85%;
 height: 45px;
 margin-top: 15px;
 border-radius: 12px;
 border: none;
 outline: none;
 box-shadow: -1px 0px 9px 4px rgba(34, 60, 80, 0.2);
 padding: 10px;
 text-align: center;
 font-size: 18px;

}
.form__input::placeholder{
    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn_buyurtmaModal{
margin-top: 15px;
width: 50%;
height: 35px;
background-color: #ffe600;
border:none;
outline: none;
color: black;
border-radius: 10px;
box-shadow: 0px 3px 3px 1px rgba(34, 60, 80, 0.2);
font-weight: bolder;
font-size: 17px;
cursor:pointer;
transition: 0.2s ease;
}
.btn_buyurtmaModal:hover{
    background-color: #eed816;
}
.close_span{
    display: block;
    transition: 0.2s;
    opacity: 0.5;
    color:gray;
}
.close_span:hover{
    opacity: 1;
}
@media (max-width:1200px){
    .modal_contents {
        width: 50%;
    }
}
@media (max-width:900px){
    .modal_contents {
        width: 60%;
    }
}
@media (max-width:700px){
    .modal_contents {
        width:70%;
    }
}
@media (max-width:550px){
    .modal_contents {
        width: 80%;
    }
}
@media (max-width:450px){
    .modal_contents {
        width: 90%;
    }
}