.SectionContainer{
    width: 100%;
    padding: 1rem 0;
}
.delivery{
    width: 100%;
    background-color: #009398;
    color: white;
    font-family:'Trebuchet MS';
    text-align: center;
    padding: 2rem; 
}
.delivery h1{
    font-size: 45px;
    font-family:'Trebuchet MS';
    margin: 15px 0;
}
.delivery p{
    font-size: 23px;
    margin: 20px 0;
}
.delivery_btn{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 17px;    
    background-color: #FFE600;
    color: black;
    margin: 20px 0 0 0;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
.delivery_btn:hover{
    background-color: #ffe600e0;
}

.section_title{
    width: 100%;
    height: 100px;
    background-color: #E2EFEF;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: 50px 0;
    padding: 1rem 0;
}
.section_title h1{
    font-size: 45px;
    color: #009398;
    font-family: 'Trebuchet MS';
}
.section_boxes{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap; 
    background-color: #fff;
}
.box{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px 10px;
    padding: 1rem 0.2rem;
}  
.box_img{
    width: 50%;
    height: 100%;
    margin-right:10px;
}
.box_img img{
    width: 100%;
    height:100%;  
} 
.box_content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.box_content h1{
    font-size: 28px;
    margin:5px 0;
}
.box_content p{
    font-size: 16px;
    margin:5px 0;
    line-height: 22px;
}
.section_detail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding: 1rem 4rem;
}
.detail{
    width: 50%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin:15px 0; /* */
}
.detail p{
    font-size: 20px;
    font-weight:500;
    line-height: 32px;
}
.detail ul{
    list-style: none;
    margin: 5px 0;
}
.detail ul li{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.detail ul li i{
    color:#009398;
    margin:0 15px;
}

@media (max-width: 1200px){
    .box {
        width: 45%;
    }
        
}
@media (max-width: 750px){
    .box {
        width: 70%;
    }
    .box_content h1{
        font-size: 32px;
    }
    .box_content p{
        font-size: 18px;
    }
    .Category_title h1 {
        font-size: 36px;
    }
    .delivery h1 {
        font-size: 36px;
    }
    .section_title h1{
        font-size: 35px;
    }
    .section_detail{
        padding: 1rem;
    }
    .detail {
        width: 100%;
    }
        
}
@media (max-width: 550px){
    .Category_title h1 {
        font-size: 32px;
    }
    .delivery h1 {
        font-size: 32px;
    }
    .section_title h1 {
        font-size: 32px;
    }
    .box_content h1{
        font-size: 24px;
    }
    .box_content p{
        font-size: 14px;
    }
}
@media (max-width: 390px){
    .Category_title h1 {
        font-size: 26px;
    }
    .delivery h1 {
        font-size: 26px;
    }
    .section_title h1 {
        font-size: 26px;
    }
    .detail p{
        font-size: 16px;
    }
    .detail ul li{
        font-size: 16px;
    }
    .box_content h1{
        font-size: 18px;
    }
    .box_content p{
        font-size: 12px;
    }
    .delivery h1{
        font-size: 32px;
    }
    .delivery p{
        font-size: 16px;
    }
    .delivery_btn{
        width: 150px;
        height: 35px;
        font-size: 14px;
    }
}